.panel {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 1.5em;
    background: rgba(255, 255, 255, 0.2);
}
body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    color: #fff;
    background: linear-gradient(to bottom, rgb(10, 10, 50) 0%,rgb(60, 10, 60) 100%);
    vertical-align: middle;
}
.logo {
    width: 120px;
    height: 120px;
    margin: 0 1em;
}
.fx {
    display: flex;
}
.w-100 {
    width: 100%;
}
#term {
    height: 400px;
    overflow-y: auto;
}